<div class="container" mt-3>
  <h1>Edit Rental Status</h1>
    <br>
    <p>Start Date: <%= @rental.start_date %></p>
    <p>End Date: <%= @rental.end_date %></p>
    <br>
    <%= simple_form_for @rental do |f| %>
      <%= f.input :status, collection: Rental.statuses.keys %>
      <%= f.submit "Enter", class: "btn btn-primary" %>
    <% end %>
    <%= link_to edit_rental_path(@rental) do %>
  <i class="fas fa-caret-square-left"></i>
<% end %>

</div>
