<div class="container">
  <div class="row">
    <div class="col-sm-6 text-center"><p>Owner</p></div>
    <div class="col-sm-6 text-center"><p>Player</p></div>
  </div>

  <% @decks.each do |deck| %>
    <%# <div class="col-sm-6"> %>
    <div class="card-body">
      <p class="card-title"><strong><%= link_to deck.name, deck_path(deck) %></strong></p>
      <p class="card-text">$<%= deck.price %></p>
      <p class="card-text"><%= deck.desc %></p>
      <%# <% <a href="#" class="btn btn-primary">Request Rental</a> %>
      <%= link_to "Request Rental",  new_deck_rental_path(deck), class:"btn btn-primary" %>
    </div>
  <% end %>

  <div class="row">
    <% @decks.each do |deck| %>
      <%# <div class="col-sm-6"> %>
      <div class="card-body">
        <p class="card-title"><strong><%= deck.name %></strong></p>
        <p class="card-text">$<%= deck.price %></p>
        <p class="card-text"><%= deck.desc %></p>
        <a href="#" class="btn btn-primary">Request Rental</a>
      </div>
    <% end %>
  </div>
</div>
