<div class="container">
  <div class="row">

    <ul class="nav tabs-underlined" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
      <a class="active tab-underlined" id="player-tab" data-toggle="tab" href="#player" role="tab" aria-controls="player" aria-selected="true">Player</a>
      </li>
      <li class="nav-item" role="presentation">
      <a class="tab-underlined" id="owner-tab" data-toggle="tab" href="#owner" role="tab" aria-controls="owner" aria-selected="false">Owner</a>
      </li>
    </ul>
  </div>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="player" role="tabpanel" aria-labelledby="player-tab">
      <%# Creating a condition where a user does not see his/her own deck in a player list %>
        <% @decks.each do |deck| %>
        <% if deck.user != current_user%>
          <div class="card-body">
            <p class="card-title"><strong><%= link_to deck.name, deck_path(deck) %></strong></p>
            <%# <p class="card-title"><strong><%= link_to deck.name, deck_path(deck) %>
            <p class="card-text">$<%= deck.price %></p>
            <p class="card-text"><%= deck.desc %></p>
            <%# <% <a href="#" class="btn btn-primary">Request Rental</a> %>
            <% condition_arr = current_user.rentals.find {|rental| rental.deck == deck } %>
            <% if condition_arr == nil %>
            <%= link_to "Request Rental",  new_deck_rental_path(deck), class:"btn btn-primary" %>
            <% else %>
            <p>Requested to rent</p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="tab-pane fade py-3" id="owner" role="tabpanel" aria-labelledby="owner-tab">
      <div class="card-body">
        <%= link_to "New Deck", new_deck_path, class:"btn btn-primary" %>
      <div>
  </div>
      </div>
     <% @decks.each do |deck| %>
      <% if deck.user == current_user%>
        <div class="card-body">
          <p class="card-title"><strong><%= link_to deck.name, deck_path(deck) %></strong></p>
          <p class="card-text">$<%= deck.price %></p>
          <p class="card-text"><%= deck.desc %></p>
          <a class="btn btn-primary">Manage Rentals</a>
        </div>
         <% end %>
      <% end %>
    </div>

  </div>

</div>
