<div class="container">
  <%# <% raise %>
  <% @deck.rentals.each do |rental| %>
    <% if rental[:user_id] == current_user.id %>
      <h1 style="color:red;"><%= link_to "Check Status", rental_path(rental), class: "btn btn-primary"%></h1>
    <% end %>
  <%end%>
  <h2><%= @deck.name %></h2>
  <p><%= @deck.desc %></p>
  <p><%= @deck.price %></p>
</div>
<%= link_to decks_path do %>
  <i class="fas fa-undo"></i>
<% end %>
