<div class="container">
  <%# <% raise %>
  <p style="font-size 24px"><%= @deck.name %></p>
  <p><%= @deck.desc %></p>
  <p>$<%= @deck.price %></p>
    <% @deck.rentals.each do |rental| %>
    <% if rental[:user_id] == current_user.id %>
      <p style="color:red;"><%= link_to "Check Status", rental_path(rental), class: "btn btn-primary"%></h1>
    <% end %>
  <%end%>
  <div>
  <%= link_to decks_path do %>
  <i class="fas fa-caret-square-left"></i>
<% end %>
</div>
</div>
